#gallery-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery{
    border: 1px solid #008000;
}
.gallery:hover {
    border: #008000;
}

.gallery img {
    height: 350px;
    width: 350px;
 
}


@media screen and (max-width:768px) {
    #gallery-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 60px;
        padding: 20px;
    }


    .gallery img {
        width: 85%;
        margin: 40px;
        padding: 60px;
        height: auto;
       
     
    }
    
    }

